{%- set source_engine = salt['pillar.get']('home_assistant:server:source:engine') %}

{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - python3-dev
  - python3-pip
  dir:
    base: /srv/home_assistant
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('home_assistant:server')) %}